[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/claudiorain/3dgs_api_gateway.git
[submodule "job-executor"]
	path = job-executor
	url = https://github.com/claudiorain/3dgs-job-executor.git

